apiVersion: v1
kind: Namespace
metadata:
  name: staging
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: postgres
  namespace: staging
spec:
  replicas: 1
  selector:
    matchLabels:
      app: postgres
  template:
    metadata:
      labels:
        app: postgres
    spec:
      containers:
        - name: postgres
          image: postgres:14
          ports:
            - containerPort: 5432
          env:
            - name: POSTGRES_USER
              value: collector_user
            - name: POSTGRES_PASSWORD
              value: collector_password
            - name: POSTGRES_DB
              value: collector_db
---
apiVersion: v1
kind: Service
metadata:
  name: postgres
  namespace: staging
spec:
  selector:
    app: postgres
  ports:
    - port: 5432
      targetPort: 5432
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: api
  namespace: staging
spec:
  replicas: 1
  selector:
    matchLabels:
      app: api
  template:
    metadata:
      labels:
        app: api
    spec:
     containers:
      - name: api
        image: collector-api:ci
        imagePullPolicy: IfNotPresent
        command: ["node"]
        args: ["dist/src/main.js"]
        ports:
          - containerPort: 4000
        env:
          - name: PORT
            value: "4000"
          - name: DB_HOST
            value: postgres
          - name: DB_PORT
            value: "5432"
          - name: DB_USER
            value: collector_user
          - name: DB_PASSWORD
            value: collector_password
          - name: DB_NAME
            value: collector_db
          - name: KEYCLOAK_ISSUER
            value: "http://dummy/realms/collector"
          - name: KEYCLOAK_JWKS_URI
            value: "http://dummy/realms/collector/protocol/openid-connect/certs"
          - name: KEYCLOAK_AUDIENCE
            value: "collector-frontend"
          - name: STRIPE_SECRET_KEY
            value: "sk_test_dummy"

---
apiVersion: v1
kind: Service
metadata:
  name: api
  namespace: staging
spec:
  selector:
    app: api
  ports:
    - port: 4000
      targetPort: 4000
